@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 0.75rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#header1-1 .btn {
  font-family: 'Noto Sans', sans-serif;
}
#header1-1 SPAN {
  color: #efefef;
  font-size: 18px;
}
#form2-8 .mbr-section-title {
  color: #fff;
  font-size: 46px;
}
#form2-8 .mbr-section-subtitle {
  color: #a0a0a0;
}
#form2-8 .mbr-section-subtitle FONT {
  font-size: 16px;
  color: #a0a0a0;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 0.75rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#header3-25 .mbr-section-title,
#header3-25 .mbr-section-subtitle {
  text-align: center;
}
#buttons1-27 .btn {
  font-size: 13px;
}
#menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-18 .navbar-caption {
  color: #ffffff;
}
#menu-18 .navbar-toggler {
  color: #ffffff;
}
#menu-18 .link,
#menu-18 .dropdown-item {
  color: #ffffff;
}
#menu-18 .link {
  font-size: 0.75rem;
}
#menu-18 .dropdown-item,
#menu-18 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-18 .link:hover,
#menu-18 .dropdown-item:hover,
#menu-18 .link:focus,
#menu-18 .dropdown-item:focus {
  color: #c0a375;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-menu {
  background: #0e0e0e;
}
#menu-18 .nav-dropdown-sm .link:focus,
#menu-18 .nav-dropdown-sm .link:hover,
#menu-18 .nav-dropdown-sm .dropdown-item:focus,
#menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-18 .navbar,
#menu-18 .nav-dropdown-sm,
#menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-18 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-18 .bg-color.transparent.opened .link:hover,
#menu-18 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-18 .close-icon::before,
#menu-18 .close-icon::after {
  background-color: #ffffff;
}
#header3-20 .mbr-section-title,
#header3-20 .mbr-section-subtitle {
  text-align: center;
}
#menu-28 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-28 .navbar-caption {
  color: #ffffff;
}
#menu-28 .navbar-toggler {
  color: #ffffff;
}
#menu-28 .link,
#menu-28 .dropdown-item {
  color: #ffffff;
}
#menu-28 .link {
  font-size: 0.75rem;
}
#menu-28 .dropdown-item,
#menu-28 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-28 .link:hover,
#menu-28 .dropdown-item:hover,
#menu-28 .link:focus,
#menu-28 .dropdown-item:focus {
  color: #c0a375;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-menu {
  background: #0e0e0e;
}
#menu-28 .nav-dropdown-sm .link:focus,
#menu-28 .nav-dropdown-sm .link:hover,
#menu-28 .nav-dropdown-sm .dropdown-item:focus,
#menu-28 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-28 .navbar,
#menu-28 .nav-dropdown-sm,
#menu-28 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-28 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-28 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-28 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-28 .bg-color.transparent.opened .link:hover,
#menu-28 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-28.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-28 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-28 .close-icon::before,
#menu-28 .close-icon::after {
  background-color: #ffffff;
}
#header3-30 .mbr-section-title,
#header3-30 .mbr-section-subtitle {
  text-align: center;
}
#buttons1-32 .btn {
  font-size: 13px;
}
